<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

        <!--扫描springmvc注解：只扫描@Controller-->
        <contex:component-scan base-package="top.yhrid" use-default-filters="false">
                <contex:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></contex:include-filter>
        </contex:component-scan>

        <mvc:annotation-driven></mvc:annotation-driven>

        <mvc:default-servlet-handler></mvc:default-servlet-handler>

        <!-- 配置一个文件上传解析器-->
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
                <property name="maxUploadSize" value="2097152"></property>  <!--2mb-->
                <property name="defaultEncoding" value="UTF-8"></property>
        </bean>


        <!--添加视图解析器-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/WEB-INF/jsp/"></property>
                <property name="suffix" value=".jsp"></property>
        </bean>

</beans>
